html,
body {
  margin: 0;
  padding: 0;
  background-image: url('blue-winter-snowflakes-background.jpeg');
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

canvas {
  display: block;
  position: absolute;
  left: 25%;
  top: 80px;
}

.title {
  color: darkblue;
  width: 450px;
  height: 68px;
  position: absolute;
  top: 0;
  left: 370px;
}

.instructions {
  color: darkblue;
  background-color: lightskyblue;
  width: 330px;
  height: 125px;
  position: absolute;
  top: 705px;
  left: 423px;
}